<div class = "body">
    <app-navigation></app-navigation>
    <div class="Securityquestion-card">
        <!--Form group linking input values to typescript -->
        <form class="form-Securityquestion"  [formGroup]="Securityquestionform" (ngSubmit)="addSecurityquestion()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Add Security Question</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>Enter Security Question
                    <span>
                        <i class="fa fa-info-circle" title="Enter a secuirty question which a new user could select when registering."></i>
                    </span>
                </label>
                   <!-- Error messages -->
                <div *ngIf="submitted">
                    <span *ngIf="f['description'].errors?.['required'] || f['description'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter a security question</span>
                </div>
                <textarea maxlength="64" type="text" class="form-control" formControlName="description" placeholder="Enter Security Question" required (keypress)="keyPressAlphabet($event)"></textarea>
                 </div>
        
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
</div>
