<div class = "body">
    <app-navigation></app-navigation>
    <div class="container-fluid">
        <div class="table-responsive" >
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Manage Supplier Orders
                                <span>
                                    <a [routerLink]="" style="cursor: pointer;" (click)="help()"><i class="fa fa-info-circle"></i></a>
                                </span>
                            </h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;" [(ngModel)]="query"  (keyup.enter)="searchSupplierOrder()">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="addSupplierOrder()"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <!-- Copy -->
                    <div class="col-md-12 text-nowrap" style="padding: 1%;">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;
                            <select class="d-inline-block form-select form-select-sm" [(ngModel)]="noOfRows">
                                    <option value="5" selected="">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>&nbsp;</label></div>
                        </div>
                    <div class="col-md-12">
                    <!-- Copy -->
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Supplier Name</th>
                                <th>Supplier Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let order of supplierOrderVM| paginate:{itemsPerPage: noOfRows, currentPage:p}">

                            <tr>    
                            <ng-container *ngIf="order.inventories == true">
                                <td class="underline-on-hover activated"><a [routerLink]="" (click)="openInventoryPopup(order)" style="cursor: pointer; color: black;">{{order.description}}</a></td>
                            </ng-container>
                            <ng-container *ngIf="order.inventories == false">
                                <td class="underline-on-hover activated">&nbsp;{{order.description}}</td>
                            </ng-container>
                            <td>{{order.contactPersonName}}</td>
                            <td>{{order.emailAddress}}</td>
                            <td class = "icon-adjust">
                                <a [routerLink]="" style="cursor: pointer;" class="download" title="Download" data-toggle="tooltip"><i class="fa fa-arrow-down" style="font-size: 16px;" (click)="download(order)" aria-hidden="true"></i></a>
                                <a [routerLink]="" style="cursor: pointer;" class="add" title="Add inventory to order" data-toggle="tooltip"><i class="fa fa-shopping-cart fa-xs" (click)="addInventory(order)"  style="font-size: 17px;" aria-hidden="true"></i></a>
                                <a [routerLink]="" style="cursor: pointer;" class="edit" title="Edit" data-toggle="tooltip"><i  (click)="editSupplierOrder(order)"  style="font-size: 17px;" class="material-icons">&#xE254;</i></a>
                                <a [routerLink]="" style="cursor: pointer;" class="delete" title="Delete" data-toggle="tooltip"><i (click)="deleteSupplierOrder(order)"  style="font-size: 17px;" class="material-icons">&#xE872;</i></a>
                            </td>  
                        </tr>

                        <th *ngIf="invetoryselected == true && order.supplierOrderId && idselected == order.supplierOrderId" colspan="5">
                            <h5 style="text-align: center; color: blue;">Loaded Inventory Items</h5>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Warehouse</th>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">Quantity</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let inventory of inventoryItems">
                                    <td>{{inventory.name}}</td>
                                    <td>{{inventory.category.description}}</td>
                                    <td>{{inventory.type.description}}</td>
                                    <td>{{inventory.warehouse.name}}</td>
                                    <td>{{inventory.supplier.supplierName}}</td>
                                    <td>{{inventory.quantityOnHand}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </th>

                         </ng-container>
                        </tbody>
                        </table>
                    <div class="hint-text">Showing <b>  {{supplierOrderVM.length}} </b> entries</div>
                    <div class="pagination">
                        <div id="pagination" class="custom-pagination">
                            <pagination-controls (pageChange)="p=$event"></pagination-controls>
                        </div>    
                    </div>		
                </div>
            </div>  
        </div>   
    </div> 
</div> 


<!-- 
<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':idisplayStyle}">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Loaded Inventory</h4>
    </div>
    <div class="modal-body">
        <div class="row"  *ngFor="let item of orders">
            <div class="col-4">
                <ul style="list-style-type:none">
                    <li style="font-weight: bold;">{{item.name}}</li>
                 </ul>
            </div>
            <div class="col-1">
                <ul style="list-style-type:none">
                    <li>{{item.quantity}}</li>
                 </ul>
            </div>
            <div class="col-7">
                <ul style="list-style-type:none; text-align: center;">
                    <li>{{item.date | extension}}</li>
                 </ul>
            </div>
          </div>
        <br>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closeInventoryPopup()">
        Close
        </button>
    </div>
</div>
</div> 
</div>  -->
