<div class = "body">
    <app-navigation></app-navigation>
    <div class="client-card">
        <!--Form group linking input values to typescript -->
        <form class="form-client"  [formGroup]="clientform" (ngSubmit)="updateClient()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Update Client</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>Name</label>
                <div *ngIf="submitted">
                    <span *ngIf="f['contactPersonName'].errors?.['required'] || f['contactPersonName'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter a contact person name</span>
                </div>
                <input type="text" class="form-control" formControlName="contactPersonName" placeholder="Enter Client Name" required>
            </div>
            <div class="form-group">
                <label>Surname</label>
                   <!-- Error messages -->
                <div *ngIf="submitted">
                    <span *ngIf="f['contactPersonSurname'].errors?.['required'] || f['contactPersonSurname'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter a contact person surname</span>
                </div>
                <input type="text" class="form-control" formControlName="contactPersonSurname" placeholder="Enter Client Surname" required>
            </div>
            <div class="form-group">     
                <label>Contact Number</label>
                <!-- Error messages -->
                <div *ngIf="submitted">
                    <span *ngIf="f['contactPersonNumber'].errors?.['required'] || f['contactPersonNumber'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter a contact number</span>
                </div>
                <div>
                    <span *ngIf="f['contactPersonNumber'].invalid && (f['contactPersonNumber'].touched || f['contactPersonNumber'].dirty)" class="text-danger" >Please enter valid contact number</span>
                </div>
                <input type="text" class="form-control" formControlName="contactPersonNumber" placeholder="Enter Client Contact Number" required (keypress)="keyPressNumbers($event)">
            </div>	
            <div class="form-group">
                <label>Address</label>
                <!-- Error messages -->
                <div *ngIf="submitted">
                    <span *ngIf="f['workAddress'].errors?.['required'] || f['workAddress'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter a work address</span>
                </div>
                <textarea class="form-control" formControlName = "workAddress" placeholder="Enter Client Address" required (keypress)="keyPressAlphanumeric($event)"></textarea>
            </div>	
            <div class="form-group">
                <label>Email</label>
                      <!-- Error messages -->
                      <div *ngIf="submitted">
                        <span *ngIf="f['emailAddress'].errors?.['required'] || f['emailAddress'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter an email</span>
                    </div>
                    <div>
                        <span *ngIf="f['emailAddress'].errors?.['email'] && (f['emailAddress'].touched || f['emailAddress'].dirty)" class="text-danger" >Please enter a email address</span>
                    </div>
                <input type="email" class="form-control" formControlName = "emailAddress" placeholder="Enter Client Email" required>
            </div>
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
</div>
