<div class = "body">
    <app-navigation></app-navigation>
    <div class="container-xl">
        <div class="table-responsive" >
            <div class="table-wrapper" >
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Inventory Stocktake</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;" (keyup.enter)="searchInventory()" [(ngModel)]="query">
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark" (click)="exportInventoryStockTake()"><i class="fa fa-file-excel-o"></i> Export Stocktake</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-file-excel-o"></i> <label for="file-upload" style="margin: 0; margin-left: 4px;" class="custom-file-upload">Import Stocktake</label> </button>
                        <input id="file-upload" #file style="display: none" (change)="uploadFile(file.files!)" accept=".xls" type="file"/>

                    </div>
                    <!-- Copy -->
                    <div class="col-md-12 text-nowrap" style="padding: 1%;">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;
                            <select class="d-inline-block form-select form-select-sm" [(ngModel)]="noOfRows">
                                    <option value="5" selected="">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>&nbsp;</label></div>
                        </div>
                    <div class="col-md-12">
                    <!-- Copy -->
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Warehouse</th>
                            <th>Supplier</th>
                            <th>Quantity on Hand</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inventoryItem of inventoryItems | paginate:{itemsPerPage: noOfRows, currentPage:p}">
                        <td>{{inventoryItem.name}}</td>
                        <td>{{inventoryItem.category.description}}</td>
                        <td>{{inventoryItem.type.description}}</td>
                        <td>{{inventoryItem.warehouse.name}}</td>
                        <td>{{inventoryItem.supplier.supplierName}}</td>
                        <td>{{inventoryItem.quantityOnHand}}</td>
                        <td class = "icon-adjust">
                            <!--Add cursor pointer so that the links seem clickable -->
                            <a [routerLink]="" style="cursor: pointer;" class="edit" title="Edit Stock" data-toggle="tooltip" (click)="editStock(inventoryItem)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;
                        </td>  
                    </tr>
                    </tbody>
                </table>
                <div class="hint-text">Showing <b> {{inventoryItems.length}}</b> entries</div>
                <div class="pagination">
                    <div id="pagination" class="custom-pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>    
                </div>		
            </div>
        </div>  
    </div>   
</div>
