<div class = "body">

    <app-navigation></app-navigation>
    <div class="warranty-card">
   
 <!--Form group linking input values to typescript -->
        <form class="form-warranty-period"  [formGroup]="warrantyPeriodForm" (ngSubmit)="updateWarrantyPeriod()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Update Warranty Period</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>Value</label>
                <div *ngIf="submitted">
                    <span *ngIf="f['value'].errors?.['required'] || f['value'].errors?.['noWhiteSpaceValidator']" class="text-danger">Please enter a value</span>
                </div>
                <div style="padding-bottom: 6%;">
                    <input type = "number" formControlName="value" min="1">
                </div>
            </div>
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
</div>
</div>
