<!-- Smaller Screen Navbar HTML Code -->
<div class="Ventrix-Nav">
    <nav class="navbar navbar-dark bg-primary">
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" data-target = "#sidebar" aria-controls="sidebar">
            <i  class="fa fa-bars fa-lg" aria-hidden="true" style="color: white;"></i>
        </button>
        
        <div class="navbar navbar-expand-sm justify-content-between">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <i class="fa fa-home fa-2x" aria-hidden="true" style="color: white;"></i>
                </li>
            </ul>
        </div>

        <a class="navbar-brand mx-auto" href="#">
            <h3 style="font-weight: normal">Ventrix</h3>
        </a>
    
        <div class="navbar navbar-expand-sm justify-content-between">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true" style="color: white;"></i>
            </li>
            
            </ul>
        </div>
        
        <div class="collapse navbar-collapse" id="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" routerLink="/read-user">User</a>
                        <a class="dropdown-item" href="#">Backup/Restore</a>
                        <a class="dropdown-item" routerLink="/read-supplier">Supplier</a>
                        <a class="dropdown-item" routerLink="/read-client">Client</a>
                        <a class="dropdown-item" href="#">Client Order Status</a>
                        <a class="dropdown-item" href="#">Employee</a>
                        <a class="dropdown-item" routerLink="/depreciation">Depreciation</a>
                        <a class="dropdown-item" href="#">OTP Timer</a>
                        <a class="dropdown-item" href="#">Write-Off Reason</a>
                        <a class="dropdown-item" routerLink="/readwarrantyperiod">Warranty Period</a>
                        <a class="dropdown-item" routerLink="/read-warehouse">Warehouse</a>
                        <a class="dropdown-item" href="#">Asset Condition</a>
                        <a class="dropdown-item" routerLink="/read-securityquestion">Security Question</a>
                        <a class="dropdown-item" href="#">Time slot</a>
                        <a class="dropdown-item" routerLink="/read-deliverystatus">Delivery Status</a>
                    </div>
                </li>
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Inventory </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" href="#">Test</a>
                    </div>
                </li>
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Assets </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" href="#">Test</a>
                    </div>
                </li>
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Reporting </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" href="#">Test</a>
                    </div>
                </li>
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link" href="#" id="smallerscreenmenu"> Profile </a>
                </li>
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link" href="#" id="smallerscreenmenu"> Logout </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Fullscreen Navbar HTML Code -->
    <div class="collapse navbar-collapse large-collapse" id="sidebar">
        <div class="row" id="body-row">
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block bg-primary shadow ">
                <ul class="list-group">
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center" >
                            <span class="fa fa-dashboard fa-fw mr-3"></span>
                            <span class="menu-collapsed" >Dashboard</span>
                        </div>
                    </a>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center" >
                            <span class="fa fa-desktop fa-fw mr-3"></span>
                            <span class="menu-collapsed" >Admin</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a routerLink="/read-user" class="list-group-item list-group-item-action text-white bg-primary">
                            <span class="menu-collapsed">User</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action text-white  bg-primary">
                            <span class="menu-collapsed">Backup/Restore</span>
                        </a>
                        <a routerLink="/read-supplier" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Supplier</span>
                        </a>
                        <a routerLink="/read-client" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Client</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Client Order Status</span>
                        </a>
                        <a routerLink="/read-employee" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Employee</span>
                        </a>
                        <a routerLink="/depreciation" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Depreciation</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">OTP Timer</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Write-Off Reason</span>
                        </a>
                        <a routerLink="/readwarrantyperiod" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Warranty Period</span>
                        </a>
                        <a routerLink="/read-warehouse" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Warehouse</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Asset Repair Reason</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Asset Condition</span>
                        </a>
                        <a routerLink="/read-securityquestion" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Security Question</span>
                        </a>
                        <a routerLink="/read-deliverystatus" class="list-group-item list-group-item-action  bg-primary text-white bg-primary">
                            <span class="menu-collapsed">Delivery Status</span>
                        </a>
                    </div>
                    <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start  bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-archive fa-fw mr-3"></span>
                            <span class="menu-collapsed">Inventory</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start  bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-money fa-fw mr-3"></span>
                            <span class="menu-collapsed">Assets</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start  bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-bar-chart fa-fw mr-3"></span>
                            <span class="menu-collapsed">Reporting</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <a href="#submenu5" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start  bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-user fa-fw mr-3"></span>
                            <span class="menu-collapsed">Profile</span>
                        </div>
                    </a>
                    <a href="#submenu6" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start  bg-primary">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-sign-out fa-fw mr-3"></span>
                            <span class="menu-collapsed">Logout</span>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>  
<!-- JQUERY Code for Navbar -->
<!-- <script src="script.js"></script> -->