<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<div class = "body">
    <div class="container" style="width:65%;">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="margin-top: 10px;">
                <div class="card shadow-lg o-hidden border-0 my-5" >
                    <div class="card-body p-0">
                    <div class="text-center p-5">
                        <h2 class="text-dark">Two Factor Authentication</h2>
                        <p>Please check your email</p>
                        <br>
                        <div class="text-center">
                            <h4  *ngIf="timeLeft == 1" class="text-dark mb-4">OTP timer:&nbsp;{{timeLeft}} second</h4>
                            <h4  *ngIf="timeLeft > 1" class="text-dark mb-4">OTP timer:&nbsp;{{timeLeft}} seconds</h4>
                            <h4  *ngIf="timeLeft == 0" class="text-dark mb-4">OTP Expired!</h4>
                        </div>
                        <hr>
                        <form (ngSubmit)="register()">
                            <ng-otp-input (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
                            <hr><button class="btn btn-primary" [disabled]="timerinvalid" type="submit">Register</button>
                        </form>
                        <br>
                        <div class="text-center"><a class="small" (click)="resend()">Resend OTP</a></div>
                        <div routerLink="/register" class="text-center"><a class="small">Back</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/theme.js"></script>
<script src="assets/bootstrap.min.js"></script>
