<div class = "body">
    <app-navigation></app-navigation>
    <div class ="warranty-period-card">
        <form class="form-warranty-period" [formGroup]="warrantyPeriodForm" (ngSubmit)="createWarrantyPeriod()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Create Warranty Period</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>Value
                    <span>
                        <i class="fa fa-info-circle" title="Enter a warranty period value to be used when adding assets."></i>
                    </span>
                </label>
                <div *ngIf="submitted">
                    <span *ngIf="f['value'].errors?.['required'] || f['value'].errors?.['noWhiteSpaceValidator']" class="text-danger">Please enter a value</span>
                </div>
                <div style="padding-bottom: 6%;">
                    <input type = "number" formControlName="value" min="1">
                </div>
            </div>

            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
</div>