<div class="body">
    <app-navigation></app-navigation>
    <div class="inventory-card">
        <form class="form-user"  [formGroup]="inventoryform" (ngSubmit)="writeOffInventory()"><span class="reauth-email"> </span>
            <h4 class="card-title">Write Off {{inventoryitem!.name}} Item(s)</h4>
            <h6 style="color: blue;">Current Quantity on Hand: {{inventoryitem!.quantityOnHand}}</h6> 
            <hr>
            <br>
            <label>Write-Off Reason</label>
            <div *ngIf="submitted">
                <span *ngIf="f['writeOffReasonId'].errors?.['writeOffReasonId'] || f['writeOffReasonId'].errors?.['noWhitespaceValidator']" class="text-danger" >Please select a Write-Off Reason</span>
            </div>
            <select  class="form-control" formControlName="writeOffReasonId">
                <option selected=""> </option>
                <option *ngFor="let reason of reasons" [value]=reason.writeOffReasonId>{{reason.description}}</option>
            </select>

            <br>
            <label>Write-Off Description</label>
            <div *ngIf="submitted">
                <span *ngIf="f['description'].errors?.['required'] || f['description'].errors?.['noWhiteSpaceValidator']" class="text-danger">Please enter a Write-Off Description</span>
            </div>
            <div class="mb-3"><textarea maxlength="128" class="form-control" formControlName = "description" placeholder="Enter a Write Off Description" required (keypress)="keyPressAlphabet($event)"></textarea></div>
            <br>

            <label>Quantity</label>
            <div *ngIf="submitted">
                <span *ngIf="f['quantity'].errors?.['required'] || f['quantity'].errors?.['noWhiteSpaceValidator']" class="text-danger">Please enter a Quantity</span>
            </div>
            <div style="padding-bottom: 6%;">
                <input type = "number" formControlName="quantity" min="0">
            </div>
          
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
        <div class="text-center"></div>
    </div>
</div>
