<div class="body">
    <form class="user-form text-center">
        <h2 class="form-group text-center">Update User</h2>
        <hr>
        <p class="form-group text-center">Generate User ID:&nbsp; &nbsp;<button class="btn btn-primary" type="button">Generate</button></p>
        <p class="form-group text-center text-secondary"><strong>AW001</strong></p>
        <p class="form-group text-center">Select User Role:&nbsp;&nbsp;</p>
        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Administration</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Administration</a>
                <a class="dropdown-item" href="#">Management</a>
                <a class="dropdown-item" href="#">Driver</a>
            </div>
        </div>
        <br>
        <div class="btn">
            <input type="button" class="btn btn-secondary" value="Update User">
        </div>
        <div class="btn">
            <input type="button" class="btn btn-danger" value="Cancel">
        </div>
    </form>
</div>