<div class = "body">
    <app-navigation></app-navigation>
    <div class="assetcategory-card">
        <!--Form group linking input values to typescript -->
        <form class="form-assetcategory"  [formGroup]="assetcategoryform" (ngSubmit)="updateAssetCategory()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Update Asset Category</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>Asset Category</label>
                <div *ngIf="submitted">
                    <span *ngIf="f['description'].errors?.['required'] || f['description'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter an asset category</span>
                </div>
                <input maxlength="32" type="text" class="form-control" formControlName="description" placeholder="Enter an asset category" required (keypress)="keyPressAlphabet($event)">
            </div>
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
</div>
