<div class = "body">
    <app-navigation></app-navigation>
    <div class="inventorytype-card">
        <!--Form group linking input values to typescript -->
        <form class="form-inventorytype"  [formGroup]="inventorytypeform" (ngSubmit)="addInventoryType()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Add Inventory Type</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>Inventory Type
                    <span>
                        <i class="fa fa-info-circle" title="Describe the specific type that the inventory falls into (e.g. Laptop, Cellphone)"></i>
                    </span>
                </label>
                <div *ngIf="submitted">
                    <span *ngIf="f['description'].errors?.['required'] || f['description'].errors?.['noWhitespaceValidator']" class="text-danger" >Please enter an inventory type description</span>
                </div>
                <input maxlength="32" type="text" class="form-control" formControlName="description" placeholder="Enter Inventory Type description" required (keypress)="keyPressAlphabet($event)">
            </div>
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
</div>
