<ion-header>
  <ion-toolbar>
    <ion-title>Schedule Delivery</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">


      <div class="block p-6 rounded-lg shadow-lg bg-white max-w-full" style="width: 90%">
        <ion-button color="primary" size="small" routerLink="/deliveries">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Back
        </ion-button>
        <hr><br>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-6 ">

            <div class="form-group mb-6">
              <div class="flex justify-center">
                <div class="block rounded-lg shadow-lg bg-white max-w-sm text-center">
                  <div class="py-3 px-6 border-b border-gray-300 text-cyan-800">
                    Client information
                  </div>
                  <div class="p-6">
                    <h5 class="text-gray-900 text-xl font-medium mb-2">{{clientInfo?.contactPersonName}} {{clientInfo?.contactPersonSurname}}</h5>
                    <p class="text-gray-700 text-base mb-4">
                     Phone: 
                     <br>
                     {{clientInfo?.contactPersonNumber}}
                     <br>
                     <br>
                     Email:  
                     {{clientInfo?.emailAddress}}
                     <br>
                     <br>
                     Work Address:  
                     <br>
                     {{clientInfo?.workAddress}}


                    </p>
                  </div>

                </div>
              </div>
            </div>

            <label for="exampleInputEmail1" class="form-label inline-block mb-2 text-gray-700">Date</label>

            <ion-label>Date and  Time Slots Available</ion-label>
              <br>
              <ion-select  class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-small
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput7"  formControlName="slotID">
                <ion-select-option  *ngFor="let time of timesSlots" [value]="time.timeslot" >{{time.date.slotDate | date:"yyyy-MM-dd"}} | {{time.timeslot.startTime | date:"hh:mm"}} - {{time.timeslot.endTime | date:"hh:mm"}}</ion-select-option>

              </ion-select>
        </div>


          <button type="submit" class="
            w-full
            px-6
            py-2.5
            bg-blue-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out" type="submit" [disabled]="!myForm.valid">Schedule</button>
        </form>
      </div>
    </div>
  </div>


</ion-content>
