<div class="body">
    <app-navigation></app-navigation>
    <form class="user-form text-center">
        <h2 class="form-group text-center">Add User</h2>
        <hr>
        <p class="form-group text-center">Select User Role:&nbsp;&nbsp;</p>
        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">User Roles</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Administration</a>
                <a class="dropdown-item" href="#">Management</a>
                <a class="dropdown-item" href="#">Driver</a>
                <a class="dropdown-item" href="#">Warehouse</a>
            </div>
        </div>
        <br>
        <div class="btn">
            <input type="button" class="btn btn-secondary" value="Add User">
        </div>
    </form>
    <div class="text-center"></div>
</div>
