<div class = "body">
    <app-navigation></app-navigation>
    <div class="container-fluid">
        <div class="table-responsive" >
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Checked Out Assets</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;" [(ngModel)]="query"  (keyup.enter)="searchCheckIns()">
                            </div>
                        </div>
                    </div>
                    <!-- Copy -->
                    <div class="col-md-12 text-nowrap" style="padding: 1%;">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;
                            <select class="d-inline-block form-select form-select-sm" [(ngModel)]="noOfRows">
                                    <option value="5" selected="">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>&nbsp;</label></div>
                        </div>
                    <div class="col-md-12">
                    <!-- Copy -->
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Employee Name</th>
                                <th>Employee Surname</th>
                                <th>Employee Email</th>       
                                <th>CheckIn Date</th>           
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of checkInVM| paginate:{itemsPerPage: noOfRows, currentPage:p}">           
                            <td>{{item.assetname}}</td>
                            <td>{{item.employeename}}</td>
                            <td>{{item.employeesurname}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.date | extension}}</td>
                            <td class = "icon-adjust">
                                <a [routerLink]="" style="cursor: pointer;" class="download" title="Download" data-toggle="tooltip"><i class="fa fa-arrow-down" style="font-size: 16px;" (click)="download(item)" aria-hidden="true"></i></a>
                            </td>  
                        </tr>
                        </tbody>
                        </table>
                    <div class="hint-text">Showing <b>  {{checkInVM.length}} </b> entries</div>
                    <div class="pagination">
                        <div id="pagination" class="custom-pagination">
                            <pagination-controls (pageChange)="p=$event"></pagination-controls>
                        </div>    
                    </div>		
                </div>
            </div>  
        </div>   
    </div> 
</div> 
