<div class="body">
<div class="warehouse-card">
    <app-navigation></app-navigation>
 <!--Form group linking input values to typescript -->
 <form class="form-warehouse"  [formGroup]="warehouseForm" (ngSubmit)="updateWarehouse()"><span class="reauth-email"> </span>					
    <h4 class="card-title">Update Warehouse</h4>
    <hr>
    <br>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="Name" placeholder="Enter warehouse name" required>
    </div>
    <div class="form-group">
        <label>Surname</label>
        <input type="text" class="form-control" formControlName="Address" placeholder="Enter warehouse address" required>
    </div>

    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
    <input type="submit" class="btn btn-primary" value="Save">
</form>
</div>
</div>
