<div class = "body">
    <app-navigation></app-navigation>
    <div class="Deliverystatus-card">
        <!--Form group linking input values to typescript -->
        <form class="form-Deliverystatus"  [formGroup]="Deliverystatusform" (ngSubmit)="updateDeliverystatus()"><span class="reauth-email"> </span>					
            <h4 class="card-title">Update Delivery Status</h4>
            <hr>
            <br>
            <div class="form-group">
                <label>New Delivery Status</label>
                <input type="text" class="form-control" formControlName="description" placeholder="Enter new delivery status" required>
            </div>
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="returnDataTable()">
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
</div>
