<div class="body">
    <app-navigation></app-navigation>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content"><div class="container-fluid">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h2 class="text-dark mb-0">Dashboard</h2>
            </div>
            <div>
                <hr>
                <!--Enter the name of the user here-->
                <h3 class="text-dark mb-0">Hi, Name</h3>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body"><div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-s mb-1">
                                    <span>Assigned Assets</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter the number of assigned assets here-->
                                    <span>35</span>
                                </div>
                                <div class="col">
                                    <!--Progress bar to show how many assigned assets against total assets-->
                                    <!--Can be removed if you don't wanna code the functionality-->
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                            <span class="visually-hidden">70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-s mb-1">
                                    <span>Unassigned Assets</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter the number of unassigned assets here-->
                                    <span>15</span>
                                </div>
                                <div class="col">
                                    <!--Progress bar to show how many unassigned assets against total assets-->
                                    <!--Can be removed if you don't wanna code the functionality-->
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                            <span class="visually-hidden">30%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-s mb-1">
                                    <span>Assets Value</span>
                                </div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark fw-bold h3 mb-0 me-3">
                                            <!--Enter the value of all the assets here-->
                                            <span>R50 000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-s mb-1">
                                    <span>Client Orders</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter number of client orders for the month here-->
                                    <span>30</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-s mb-1">
                                    <span>Supplier Orders</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter number of supplier orders for the month here-->
                                    <span>15</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-warehouse fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-secondary fw-bold text-s mb-1">
                                    <span>Completed Deliveries</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter number of deliveries completed for the month here-->
                                    <span>22</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-truck fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">
                        Asset Value
                        <br>
                        <span class="text-secondary">By Category</span>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Direct&quot;,&quot;Social&quot;,&quot;Referral&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;,&quot;#36b9cc&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;50&quot;,&quot;30&quot;,&quot;15&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}}"></canvas>
                    </div>
                    <div class="text-center small mt-4">
                        <span class="me-2"><i class="fas fa-circle text-primary"></i>&nbsp;Direct</span>
                        <span class="me-2"><i class="fas fa-circle text-success"></i>&nbsp;Social</span>
                        <span class="me-2"><i class="fas fa-circle text-info"></i>&nbsp;Refferal</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Client Orders</h6>
                </div>
                <div class="card-body">
                    <h4 class="small fw-bold">Added<span class="float-end">20%</span></h4>
                    <div class="progress mb-4">
                        <!--Number of added client orders here-->
                        <div class="progress-bar bg-secondary" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                            <span class="visually-hidden">20%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Processed<span class="float-end">40%</span></h4>
                    <div class="progress mb-4">
                        <!--Number of processed client orders here-->
                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            <span class="visually-hidden">40%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Packed<span class="float-end">60%</span></h4>
                    <div class="progress mb-4">
                        <!--Number of packed client orders here-->
                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="visually-hidden">60%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Scheduled<span class="float-end">80%</span></h4>
                    <div class="progress mb-4">
                        <!--Number of scheduled client orders here-->
                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="visually-hidden">80%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Re-scheduled<span class="float-end">Complete!</span></h4>
                    <div class="progress mb-4">
                        <!--Number of re-scheduled client orders here-->
                        <div class="progress-bar bg-danger" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="visually-hidden">100%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Delivered<span class="float-end">Complete!</span></h4>
                    <div class="progress mb-4">
                        <!--Number of delivered client orders here-->
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="visually-hidden">100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--Bar chart for inventory on hand per month-->
        </div>
    </div>
</div>
</div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>