<div class="body">
    <app-navigation></app-navigation>
    <br>
    <br>
    <div style="background-color: white; width: 83.75%; margin: auto; padding: 15px 15px 0px;" class="mb-4 card shadow">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h2 class="text-dark mb-0">Dashboard</h2>
        </div>
        <div>
            <hr>
            <!--Enter the name of the user here-->
            <h4 style="font-weight: normal;" class="text-dark mb-0">Hi, {{account.name}}</h4>
            <br>
        </div>
    </div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content"><div class="container-fluid">
            <div class="row" style="width: 87%; margin: auto;">
                <div class="col-lg-6 col-sm-12 mb-4">
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body"><div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-s mb-1">
                                    <span>Assigned Assets</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter the number of assigned assets here-->
                                    <span>{{assignedassets}}</span>
                                </div>
                                <div class="col">
                                    <!--Progress bar to show how many assigned assets against total assets-->
                                    <!--Can be removed if you don't wanna code the functionality-->
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentageassinged">
                                            <span class="visually-hidden">{{percentageassinged}}%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-s mb-1">
                                    <span>Unassigned Assets</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter the number of unassigned assets here-->
                                    <span>{{unassignedassets}}</span>
                                </div>
                                <div class="col">
                                    <!--Progress bar to show how many unassigned assets against total assets-->
                                    <!--Can be removed if you don't wanna code the functionality-->
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentageunassigned">
                                            <span class="visually-hidden">{{percentageunassigned}}%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-s mb-1">
                                    <span>Assets Value</span>
                                </div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark fw-bold h3 mb-0 me-3">
                                            <!--Enter the value of all the assets here-->
                                            <span>{{assetvalue | currency:'R'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-s mb-1">
                                    <span>Client Orders</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter number of client orders for the month here-->
                                    <span>{{totalclientrorder}}</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-s mb-1">
                                    <span>Supplier Orders</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter number of supplier orders for the month here-->
                                    <span>{{totalsupplierorder}}</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-warehouse fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-secondary fw-bold text-s mb-1">
                                    <span>Collected Deliveries</span>
                                </div>
                                <div class="text-dark fw-bold h3 mb-0">
                                    <!--Enter number of deliveries completed for the month here-->
                                    <span>{{totalcollected}}</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-truck fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4" style="width: 87%; margin: auto;">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="text-primary fw-bold m-0">
                        Asset Value
                        <br>
                        <div style="width: 60%; margin: auto;">
                        <canvas baseChart
                        [data]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColor">                  
                        </canvas>
                     </div>  
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 85.5%; margin: auto;">
        <div class="col-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Client Orders</h6>
                </div>
                <div class="card-body">
                    <h4 class="small fw-bold">Added<span class="float-end"></span></h4>
                    <div class="progress mb-4">
                        <!--Number of added client orders here-->
                        <div class="progress-bar bg-secondary" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"  [style.width.%]="percentageadded">
                            <span class="visually-hidden">{{percentageadded}}%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Processed<span class="float-end"></span></h4>
                    <div class="progress mb-4">
                        <!--Number of processed client orders here-->
                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentageprocessed">
                            <span class="visually-hidden">{{percentageprocessed}}%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Packed<span class="float-end"></span></h4>
                    <div class="progress mb-4">
                        <!--Number of packed client orders here-->
                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentagepacked">
                            <span class="visually-hidden">{{percentagepacked}}%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Scheduled<span class="float-end"></span></h4>
                    <div class="progress mb-4">
                        <!--Number of scheduled client orders here-->
                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentagescheduled">
                            <span class="visually-hidden">{{percentagescheduled}}%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Re-scheduled<span class="float-end"></span></h4>
                    <div class="progress mb-4">
                        <!--Number of re-scheduled client orders here-->
                        <div class="progress-bar bg-danger" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentagerescheduled">
                            <span class="visually-hidden">{{percentagerescheduled}}%</span>
                        </div>
                    </div>
                    <h4 class="small fw-bold">Delivered<span class="float-end"></span></h4>
                    <div class="progress mb-4">
                        <!--Number of delivered client orders here-->
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentageredelivered">
                            <span class="visually-hidden">{{percentageredelivered}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--Bar chart for inventory on hand per month-->
        </div>
    </div>
</div>
</div>
</div>
